import React from 'react';
import cn from 'classnames';
import PropTypes from 'prop-types';


const {{ pascalCase componentName }} = ({ children, ...rest }) => (
  <div className={cn('{{ pascalCase componentName}}', {
    'not-rendered-{{ dashCase componentName}}': false,
    'is-rendered-{{ dashCase componentName}}': true,
    })}
    data-testid='{{ dashCase componentName}}-component'
    {...rest}
    >
    {children}
  </div>
)

{{ pascalCase componentName }}.propTypes = {};

export default {{ pascalCase componentName }}
